/* forgotpassword.module.css */


  
.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .background {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #000 50%, #fff 50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .square {
    width: 600px; 
    height: 400px; 
    background: #fff;
    border: 2px solid #000; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Additional styling for the square */
  }
  
  .forgotPasswordText {
    font-weight: 600;
    color: #000;
    font-size: 26px;
    margin-bottom: 10px;
    /* Additional styling for the text */
  }
  
  .smallText {
    color: #000;
    font-size: 14px;
    /* Additional styling for the text */
  }
  
  .fullwidth {
    width: 100%;
  }
  
  .inputStyle {
    padding: 10px;
    font-size: 18px;
  }
  
  .mb_2 {
    margin-bottom: 12px;
  }
  
  .btnStyle {
    padding: 4px 10px;
    font-weight: 600;
    font-size: larger;
    cursor: pointer;
  }
  
  .textError {
    display: block;
    text-align: left;
    color: rgb(255, 62, 62);
  }
  
  
 